<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="box">
    <form [formGroup]="registroForm" (ngSubmit)="registro()">
      <ion-list>
        <ion-item>
          <ion-input 
            formControlName="email" 
            type="email" 
            label="Correo"
            [class.invalid]="isSubmitted && errorControl['email'].errors">
          </ion-input>
        </ion-item>
        <div class="error-message" *ngIf="isSubmitted && errorControl['email'].errors?.['required']">
          El correo es requerido
        </div>
        <div class="error-message" *ngIf="isSubmitted && errorControl['email'].errors?.['email']">
          Por favor ingrese un correo válido
        </div>

        <ion-item>
          <ion-input 
            formControlName="password" 
            type="password" 
            label="Contraseña"
            [class.invalid]="isSubmitted && errorControl['password'].errors">
          </ion-input>
        </ion-item>
        <div class="error-message" *ngIf="isSubmitted && errorControl['password'].errors?.['required']">
          La contraseña es requerida
        </div>
        <div class="error-message" *ngIf="isSubmitted && errorControl['password'].errors?.['minlength']">
          La contraseña debe tener al menos 6 caracteres
        </div>

        <ion-item>
          <ion-input 
            formControlName="confirmPassword" 
            type="password" 
            label="Confirme contraseña"
            [class.invalid]="isSubmitted && errorControl['confirmPassword'].errors">
          </ion-input>
        </ion-item>
        <div class="error-message" *ngIf="isSubmitted && errorControl['confirmPassword'].errors?.['required']">
          Debe confirmar la contraseña
        </div>
      </ion-list>

      <ion-button type="submit" color="warning" expand="block">Registrarse</ion-button>
    </form>
  </div>
</ion-content>
