<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true">

  <div class="box">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="email" label="Correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" label="Contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="confirmPassword" type="password" label="Confirme contraseña"></ion-input>
      </ion-item>

    </ion-list>

  
    <ion-button (click)="registro()" color="warning">Registrarse</ion-button>

  </div>






</ion-content>
