<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Historial de Viajes</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="success" routerLink="/iniciarviaje">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-accordion-group>
    <ion-accordion *ngFor="let viaje of viajes; let i = index" [value]="'acc' + i">
      <ion-item slot="header" [color]="i === 0 ? 'primary' : 'light'" class="accordion-header">
        <ion-label>{{viaje.fecha}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item lines="full" class="viaje-item">
          <ion-label>
            <h1>{{viaje.vehiculo}}</h1>
            <p>Vehículo</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h1>{{viaje.origen}}</h1>
            <p>Origen</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h1>{{viaje.destino}}</h1>
            <p>Destino</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>