<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" fill="clear">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">



  <ng-container > 
    <ion-card class="card1">
      <ion-card class="card2">
      
        <ion-card-content><div class="veh-container">
          <div class="veh-image">
            
              <img src="assets/images/istockphoto-1150931120-2048x2048.jpg"  />
            
          </div>
        </div>

      </ion-card-content>
      <ion-button routerLink="/vehiculo">
        Viaja en este vehiculo
      </ion-button>
    </ion-card>

      <ion-card class="card3">
        <ion-card-content><div class="veh-container">
          <div class="veh-image">
              <img src="assets/images/autorojo.png"  />
          </div>
        </div>
      </ion-card-content>
      <ion-button routerLink="/vehiculo" >
        Viaja en este vehiculo
      </ion-button>
      </ion-card>
</ion-card>
  
    <ion-button class="mover" (click)="play()">mover</ion-button>
    <ion-button class="pausar" (click)="pause()">pausar</ion-button>
    <ion-button class="reiniciar" (click)="stop()">reiniciar</ion-button>

  </ng-container>

</ion-content>
