
ion-icon{
    font-size: 25px;
    margin-right: 15px;
}


        .reiniciar{


          width: auto;  // Ajusta el tamaño al 100% del contenedor
          height: 5%; // Mantiene la relación de aspecto
          border-radius: 8px;
       }
       .pausar{


        width: auto;  // Ajusta el tamaño al 100% del contenedor
        height: 5%; // Mantiene la relación de aspecto
        border-radius: 8px;
     }
     .mover{


      width: auto;  // Ajusta el tamaño al 100% del contenedor
      height: 5%; // Mantiene la relación de aspecto
      border-radius: 8px;
   }


   .card-container {
    display: flex;
    justify-content: space-between; /* Esto separará las tarjetas */
  }
  
  .card1 {
    width: auto; 
    display: flex; 
    justify-content: space-between; 
    padding: 0%; 

}

.card2, .card3{
    width: 50%; 
    

}