<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" fill="clear">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" routerLink="/vehiculo">
    <ion-icon name="car-outline" slot="start"></ion-icon>
    Vehículos
  </ion-button>
  
  <ion-button expand="block" routerLink="/viaje">
    <ion-icon name="time-outline" slot="start"></ion-icon>
    Historial de Viajes
  </ion-button>

  <div class="centered-container" [style.display]="isVisible ? 'flex' : 'none'">
    <ion-card class="centered-card">
      <ion-card-content>
        <div class="veh-container">
          <div class="veh-image">
            <img src="assets/images/istockphoto-1150931120-2048x2048.jpg" alt="Vehículo 1" />
          </div>
        </div>
      </ion-card-content>
      <ion-button routerLink="/vehiculo">
        Viaja en este vehículo
      </ion-button>
    </ion-card>
  </div>

  <div class="button-container">
    <ion-button class="mover" (click)="iniciarViaje()">Inicia tu Viaje</ion-button>
    <ion-button class="pausar" (click)="pause()" [disabled]="!isVisible">pausar</ion-button>
    <ion-button class="reiniciar" (click)="stop()" [disabled]="!isVisible">reiniciar</ion-button>
  </div>
</ion-content>
