.veh-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 5%;
}

.veh-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: black;
    border: 3px solid var(--ion-color-light);
    position: relative;
    overflow: hidden;
    padding-bottom: 0cm;
}

ion-item p {
    color: var(--ion-color-dark);
}

ion-item h1 {
    font-weight: bold;
    color: var(--ion-color-light);
}
