<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Logo y nombre -->
  <div class="header-container">
    <h1>U B E R</h1>
    <img src="https://www.svgrepo.com/show/1276/map-pin.svg" alt="pin de mapa" class="pin-image">
  </div>

  <div class="box">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="email" label="Correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" label="Contraseña"></ion-input>
      </ion-item>

    </ion-list>
    <!-- 'inicio/:numero', -->
    <ion-button (click)="login()" color="success">Acceder</ion-button>
    <!-- <ion-button [routerLink]="['/inicio/' + 100]">Acceder</ion-button> -->
    <ion-button color="danger" routerLink="/recuperarcontra">Recuperar contraseña</ion-button>
    
  </div>

  <ion-button (click)="registro()">
    Registro
  </ion-button>

  <ion-button (click)="recuperarcontra()">
    Recuperar contraseña
  </ion-button>





</ion-content>