<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Logo y nombre -->
<div class="header-container">
  <h1>H1 Heading</h1>

</div>

<ion-content [fullscreen]="true">
<!-- Inputs correo y contra -->
  <div class="box">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="correo" label="Correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="contrasena" label="Contraseña"></ion-input>
      </ion-item>

    </ion-list>
    <!-- 'inicio/:numero', -->
    <ion-button (click)="login()" color="success">Acceder</ion-button>
    <!-- <ion-button [routerLink]="['/inicio/' + 100]">Acceder</ion-button> -->
    <ion-button color="danger" routerLink="/recuperarcontra">Recuperar contraseña</ion-button>
    <ion-button color="warning" routerLink="/registro">Registrarse</ion-button>
  </div>






</ion-content>