ion-menu ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
}

ion-menu ion-content ion-item{
    --background: var(--ion-color-light);
}

ion-menu ion-content {
    --background: var(--ion-color-light);
}

/*
ion-menu ion-item:hover, ion-menu ion-item.ion-focused, ion-menu ion-item.ion-activated {
    --background: red; // cambio de fondo al pasar el mouse o seleccionar
  }
*/