<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vehiculo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- boton agregar vehiculo -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon routerLink="/agregarvehiculo" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Lista de vehículos -->
  <ion-list>
    <ion-item *ngFor="let vehiculo of vehiculos">
      <ion-label>
        <h2>{{vehiculo.marca}}</h2>
        <p>{{vehiculo.modelo}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
