<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/vehiculo" text="Anterior"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Vehiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="nuevoVehiculo.marca" label="Marca" placeholder="Kia"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="nuevoVehiculo.modelo" label="Modelo" placeholder="Morning"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="agregarVehiculo()" expand="block" class="ion-margin">
    <ion-icon slot="start" name="car-outline"></ion-icon>
    Agregar Vehiculo
  </ion-button>
</ion-content>
