ion-item {
    font-weight: bold;
    color: var(--ion-color-light);
}

.centered-button {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
  
.popover-text {
    font-weight: bold;
    color: black;
}